In [13]:
import sqlite3
import pandas as pd

1. chinook.db

In [14]:
conn = sqlite3.connect('chinook.db')
customers_df = pd.read_sql_query("SELECT * FROM customers", conn)
print(customers_df.head(10))

   CustomerId  FirstName     LastName  \
0           1       Luís    Gonçalves
1           2     Leonie       Köhler
2           3   François     Tremblay
3           4      Bjørn       Hansen
4           5  František  Wichterlová
5           6     Helena         Holý
6           7     Astrid       Gruber
7           8       Daan      Peeters
8           9       Kara      Nielsen
9          10    Eduardo      Martins

                                            Company  \
0  Embraer - Empresa Brasileira de Aeronáutica S.A.
1                                              None
2                                              None
3                                              None
4                                  JetBrains s.r.o.
5                                              None
6                                              None
7                                              None
8                                              None
9                                  Woodstock Discos

                                Address                 City State  \
0       Av. Brigadeiro Faria Lima, 2170  São José dos Campos    SP
1               Theodor-Heuss-Straße 34            Stuttgart  None
2                     1498 rue Bélanger             Montréal    QC
3                      Ullevålsveien 14                 Oslo  None
4                         Klanova 9/506               Prague  None
5                         Rilská 3174/6               Prague  None
6  Rotenturmstraße 4, 1010 Innere Stadt               Vienne  None
7                       Grétrystraat 63             Brussels  None
8                   Sønder Boulevard 51           Copenhagen  None
9             Rua Dr. Falcão Filho, 155            São Paulo    SP

          Country PostalCode               Phone                 Fax  \
0          Brazil  12227-000  +55 (12) 3923-5555  +55 (12) 3923-5566
1         Germany      70174    +49 0711 2842222                None
2          Canada    H2G 1A7   +1 (514) 721-4711                None
3          Norway       0171     +47 22 44 22 22                None
4  Czech Republic      14700    +420 2 4172 5555    +420 2 4172 5555
5  Czech Republic      14300    +420 2 4177 0449                None
6         Austria       1010      +43 01 5134505                None
7         Belgium       1000    +32 02 219 03 03                None
8         Denmark       1720      +453 3331 9991                None
9          Brazil  01007-010  +55 (11) 3033-5446  +55 (11) 3033-4564

                      Email  SupportRepId
0      luisg@embraer.com.br             3
1     leonekohler@surfeu.de             5
2       ftremblay@gmail.com             3
3     bjorn.hansen@yahoo.no             4
4  frantisekw@jetbrains.com             4
5           hholy@gmail.com             5
6    astrid.gruber@apple.at             5
7     daan_peeters@apple.be             4
8     kara.nielsen@jubii.dk             4
9  eduardo@woodstock.com.br             4

2. iris.json

In [15]:
iris_df = pd.read_json("iris.json")

print("Shape of iris dataset:", iris_df.shape)
print("Column names:", iris_df.columns)

Shape of iris dataset: (150, 5)
Column names: Index(['sepalLength', 'sepalWidth', 'petalLength', 'petalWidth', 'species'], dtype='object')

3. titanic.xlsx

In [16]:
titanic_df = pd.read_excel("titanic.xlsx")
print(titanic_df.head(5))

   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S

5. movie.cv

In [17]:
movie_df = pd.read_csv("movie.csv")
print(movie_df.sample(10))

      color    director_name  num_critic_for_reviews  duration  \
3103  Color    Joel Edgerton                   297.0     108.0
4539  Color      James Algar                   116.0      70.0
4519  Color       D. Stevens                     6.0      94.0
4781  Color   David G. Evans                    25.0     101.0
2361  Color    Ricky Gervais                   192.0     100.0
889   Color   Richard Lester                   121.0     116.0
2930  Color    Stuart Gordon                    58.0      95.0
354   Color  Carlos Saldanha                   188.0      94.0
1635  Color     Marc Forster                   253.0     113.0
4012  Color   Anthony Hickox                    22.0      98.0

      director_facebook_likes  actor_3_facebook_likes      actor_2_name  \
3103                      0.0                   458.0    Allison Tolman
4539                     11.0                     8.0    Donnie Dunagan
4519                      6.0                     0.0      Pierre Dulat
4781                      0.0                    16.0      Chris Thomas
2361                      0.0                   985.0          Tina Fey
889                      44.0                   420.0        Ned Beatty
2930                    216.0                   968.0    Kurtwood Smith
354                     107.0                   117.0    Maile Flanagan
1635                    395.0                    77.0  Christian Stolte
4012                     16.0                   222.0     Zach Galligan

      actor_1_facebook_likes        gross  \
3103                  1000.0   43771291.0
4539                    16.0  102797150.0
4519                    92.0          NaN
4781                 77000.0    2428241.0
2361                  3000.0   18439082.0
889                    593.0  108200000.0
2930                  1000.0    6739141.0
354                    835.0  196573705.0
1635                  8000.0   40137776.0
4012                   687.0    3902679.0

                                        genres  ... num_user_for_reviews  \
3103                          Mystery|Thriller  ...                279.0
4539                    Animation|Drama|Family  ...                136.0
4519                            Drama|Thriller  ...                 24.0
4781                                     Drama  ...                 26.0
2361                    Comedy|Fantasy|Romance  ...                287.0
889            Action|Adventure|Romance|Sci-Fi  ...                269.0
2930              Action|Crime|Sci-Fi|Thriller  ...                 68.0
354   Action|Adventure|Animation|Comedy|Family  ...                132.0
1635              Comedy|Drama|Fantasy|Romance  ...                529.0
4012                            Fantasy|Horror  ...                 49.0

     language    country  content_rating      budget  title_year  \
3103  English        USA               R   5000000.0      2015.0
4539  English        USA        Approved         NaN      1942.0
4519  English        USA             NaN   1000000.0      2006.0
4781  English        USA           PG-13    200000.0      2010.0
2361  English        USA           PG-13  18500000.0      2009.0
889   English        USA              PG  54000000.0      1980.0
2930  English  Australia               R   8000000.0      1992.0
354   English        USA              PG  90000000.0      2009.0
1635  English        USA           PG-13  38000000.0      2006.0
4012  English        USA               R   3000000.0      1993.0

     actor_2_facebook_likes imdb_score  aspect_ratio movie_facebook_likes
3103                  562.0        7.1          2.35                15000
4539                   12.0        7.4          1.33                    0
4519                   17.0        3.9           NaN                   91
4781                   21.0        6.4           NaN                    0
2361                 2000.0        6.4          1.85                13000
889                   467.0        6.8          2.35                    0
2930                 1000.0        5.9          1.85                 1000
354                   256.0        7.0          1.85                    0
1635                  189.0        7.6          1.85                13000
4012                  233.0        5.3          1.66                  217

[10 rows x 28 columns]

Part 2

In [20]:
iris_selected = iris_df[['sepallength', 'sepalwidth']]
print(iris_selected.head())

   sepallength  sepalwidth
0          5.1         3.5
1          4.9         3.0
2          4.7         3.2
3          4.6         3.1
4          5.0         3.6

In [ ]:
titanic_above_30 = titanic_df[titanic_df['Age'] > 30]
gender_counts = titanic_df['Sex'].value_counts()
print(titanic_above_30.head())
print(gender_counts)

    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
4             5         0       3
6             7         0       1
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                            Allen, Mr. William Henry    male  35.0      0
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
4       0    373450   8.0500   NaN        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
Sex
male      577
female    314
Name: count, dtype: int64

In [22]:
long_movies = movie_df[movie_df['duration'] > 120]
sorted_movies = long_movies.sort_values(by='director_facebook_likes', ascending=False)
print(sorted_movies.head())

      color      director_name  num_critic_for_reviews  duration  \
66    Color  Christopher Nolan                   645.0     152.0
3     Color  Christopher Nolan                   813.0     164.0
120   Color  Christopher Nolan                   478.0     128.0
1222  Color  Christopher Nolan                   341.0     130.0
97    Color  Christopher Nolan                   642.0     148.0

      director_facebook_likes  actor_3_facebook_likes    actor_2_name  \
66                    22000.0                 11000.0    Heath Ledger
3                     22000.0                 23000.0  Christian Bale
120                   22000.0                 11000.0     Liam Neeson
1222                  22000.0                 19000.0    Hugh Jackman
97                    22000.0                 23000.0       Tom Hardy

      actor_1_facebook_likes        gross                            genres  \
66                   23000.0  533316061.0       Action|Crime|Drama|Thriller
3                    27000.0  448130642.0                   Action|Thriller
120                  23000.0  205343774.0                  Action|Adventure
1222                 23000.0   53082743.0     Drama|Mystery|Sci-Fi|Thriller
97                   29000.0  292568851.0  Action|Adventure|Sci-Fi|Thriller

      ... num_user_for_reviews language  country  content_rating       budget  \
66    ...               4667.0  English      USA           PG-13  185000000.0
3     ...               2701.0  English      USA           PG-13  250000000.0
120   ...               2685.0  English      USA           PG-13  150000000.0
1222  ...               1100.0  English      USA           PG-13   40000000.0
97    ...               2803.0  English      USA           PG-13  160000000.0

      title_year actor_2_facebook_likes imdb_score  aspect_ratio  \
66        2008.0                13000.0        9.0          2.35
3         2012.0                23000.0        8.5          2.35
120       2005.0                14000.0        8.3          2.35
1222      2006.0                20000.0        8.5          2.35
97        2010.0                27000.0        8.8          2.35

     movie_facebook_likes
66                  37000
3                  164000
120                 15000
1222                49000
97                 175000

[5 rows x 28 columns]

Part 3

In [24]:
print("Mean:\n", iris_df.mean(numeric_only=True))
print("Median:\n", iris_df.median(numeric_only=True))
print("Standard Deviation:\n", iris_df.std(numeric_only=True))

Mean:
 sepallength    5.843333
sepalwidth     3.057333
petallength    3.758000
petalwidth     1.199333
dtype: float64
Median:
 sepallength    5.80
sepalwidth     3.00
petallength    4.35
petalwidth     1.30
dtype: float64
Standard Deviation:
 sepallength    0.828066
sepalwidth     0.435866
petallength    1.765298
petalwidth     0.762238
dtype: float64

In [25]:
print("Minimum Age:", titanic_df['Age'].min())
print("Maximum Age:", titanic_df['Age'].max())
print("Sum of Ages:", titanic_df['Age'].sum())

Minimum Age: 0.42
Maximum Age: 80.0
Sum of Ages: 21205.17

In [28]:
top_director = movie_df.groupby('director_name')['director_facebook_likes'].sum().idxmax()
print("Director with highest Facebook likes:", top_director)
top_5_longest = movie_df.nlargest(5, 'duration')[['movie_title', 'director_name', 'duration']]
print(top_5_longest)

Director with highest Facebook likes: Steven Spielberg
                   movie_title        director_name  duration
1694                   Trapped                  NaN     511.0
2436                    Carlos                  NaN     334.0
1487       Blood In, Blood Out      Taylor Hackford     330.0
1134             Heaven's Gate       Michael Cimino     325.0
3254  The Legend of Suriyothai  Chatrichalerm Yukol     300.0